{% extends "auth_success_base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <h1>Projects</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Field</th>
            <th scope="col">Category</th>
            <th scope="col">Outcome</th>
            <th scope="col">Private?</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <th scope="row">{{project['id']}}</th>     
            <td>{{project['name']}}</td>
            <td>{{project['field']}}</td>
            <td>{{project['category']}}</td>
            <td>{{project['outcome']}}</td>
            <td>{{project['is_private']}}</td>
            <td>
                <div class="button-container">
                    <button type="button" onclick="window.location.href = '/pj/about/'+{{project['id']}} ; "class="btn btn-info">About</button>
                    <button type="button" onclick="window.location.href = '/pj/update/'+{{project['id']}} ; "class="btn btn-warning">Update</button>
                    <button type="button" onclick="window.location.href = '/pj/delete/'+{{project['id']}} ; "class="btn btn-danger">Delete</button>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
